# Entorno virtual
venv/

# Archivos temporales de Python
__pycache__/
*.pyc

# Modelos pesados o guardados
modelos_guardados/

# Configuración privada
.env

# Archivos del sistema
.DS_Store
Thumbs.db
